@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    font-size: 65.5%;
    box-sizing: border-box;
    
}

body{
    font-family: 'Press Start 2P',
    sans-serif;
    color: #eee;
    /* background-color: #60b347; */
    background-color: #111;
    
}


/* layout */
header{
    position:relative;
    height: 35vh;
    border-bottom: 7px solid#eee;
    
    
}

main{
    height:65vh ;
    color: #eee;
    display: flex;
    align-items:center ;
    justify-content: space-around;
}


h1{
    text-align: center;
    text-shadow: #111;
    font-size: 40px;
}
.button1{

    position: absolute;
  top: 100px;
  left: 40px;
  font-size: 40px;
  /* text-decoration: dashed; */
  font-family: 'Press Start 2P',
}

.between{
    position: absolute;
    top: 45px;
    right: 38px;
    font-size: 25px;

}

.number{
background-color: #eee;
color: #111;
font-size: 6rem;
width: 15rem;
padding:3rem 0rem;
text-align: center;
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%,50%);

}

.guess{
    
    font-size: 20px;
  
    position: absolute;
    top: 400px;
    left: 100px;
    background-color: #b6c4b6; /* Green */
  border: none;
  color: #111;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: 'Press Start 2P',
  /* display: inline-block; */
  /* font-size: 16px; */
    
}

.btn-check{
    position: absolute;
    top: 460px;
    left: 180px;
    background-color: #232523; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
}

.right{
    /* right: 180px; */
    font-size: 38px;
    margin: 15px 100;
}

.between{
    top: 100px;
}

.h1{position: absolute;
    top:20px;
}